<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/user/settings.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="settingsView">

		<p:outputLabel for="result" />
		<p:messages id="result" />

		<p:panelGrid columns="4" columnClasses="">
			<f:facet name="header">
				<p class="center-align">Categorias</p>
			</f:facet>

			<p:autoComplete styleClass="" id="categoria"
				value="#{configuracao.categoria.nome}" title="procure as categorias"
				emptyMessage="nova categoria"
				completeMethod="#{configuracao.categoriasQueContem}"
				onclick="this.value = ''"				
				/>

			<p:commandButton value="adicionar"
				actionListener="#{configuracao.adicionarCategoria}" />
			<p:commandButton value="remover"
				actionListener="#{configuracao.removerCategoria}" />
			<p:commandButton value="remover todas"
				actionListener="#{configuracao.removerTodasCategorias}" />
		</p:panelGrid>

	</ui:define>


</ui:composition>