<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/user/settings.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="settingsView">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">Deletar Conta</p>
		
		<p:outputLabel for="resultDelete" />
		<p:messages id="resultDelete" />
		
		<p:outputLabel for="confirmPass" value="Confirme sua Senha:" />
		<p:password id="confirmPass" value="#{configuracao.confirmPassword}"/>

		<p:growl />
		<p:commandButton value="Confirmar" action="#{configuracao.deletarConta()}" update="resultDelete" />
	</ui:define>


</ui:composition>