<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/user/notification.xhtml" xmlns:p="http://primefaces.org/ui">


	<ui:define name="notificationName">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">Notificação via
			Email</p>
	</ui:define>

	<ui:define name="notificationType">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">E-mails</p>

		<p:outputLabel for="email1" value="E-mail 1:" />
		<p:inputText id="email1" validatorMessage="E-mail inválido" value="#{configuracao.usuario.email1}">
			<f:validateRegex
				pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
		</p:inputText>

		<p:outputLabel for="email2" value="E-mail 2:" />
		<p:inputText id="email2" validatorMessage="E-mail inválido" value="#{configuracao.usuario.email2}">
			<f:validateRegex
				pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
		</p:inputText>

		<p:outputLabel for="email3" value="E-mail 3:" />
		<p:inputText id="email3" validatorMessage="E-mail inválido" value="#{configuracao.usuario.email3}">
			<f:validateRegex
				pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
		</p:inputText>
	</ui:define>

</ui:composition>