<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/user/settings.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="settingsView">
		<ui:insert name="notificationName">
			<p:growl />
			<p style="font-weight: bold; font-size: x-large;">Notificação</p>
		</ui:insert>
		<p:outputLabel for="horaNotificacao"
				value="Hora padrão da Notificação" />
			<p:inputMask id="horaNotificacao" mask="99:99 h"
				value="#{configuracao.usuario.horaNotificacaoPadrao}">				
			</p:inputMask>

			<p:outputLabel for="check1" value="Notificar antes do vencimento" />
			<p:selectBooleanCheckbox id="check1"
				value="#{configuracao.usuario.antesVencimento}" />

			<p:outputLabel for="check2" value="Notificar no dia do vencimento" />
			<p:selectBooleanCheckbox id="check2"
				value="#{configuracao.usuario.noVencimento}" />

			<p:outputLabel for="check3" value="Notificar após o vencimento" />
			<p:selectBooleanCheckbox id="check3"
				value="#{configuracao.usuario.depoisVencimento}" />

			<ui:insert name="notificationType">
			</ui:insert>
			<p:growl />
			<p:commandButton value="Atualizar"
				actionListener="#{configuracao.atualizarUsuario}" />
	</ui:define>

</ui:composition>