<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/user/settings.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<head>

	</head>

	<ui:define name="settingsView">
			<p:growl />
			<p style="font-weight: bold; font-size: x-large;">Mudar Senha</p>

			<p:outputLabel for="passwordResult" />
			<p:messages id="passwordResult" />

			<p:outputLabel for="olderPass" value="Senha Antiga:" />
			<p:password id="olderPass" value="#{configuracao.usuario.senha}" />

			<p:outputLabel for="newPass" value="Nova Senha:" />
			<p:password id="newPass" value="#{configuracao.novoPassword}" 
			/>

			<p:outputLabel for="confirmPass" value="Confirmar Senha:" />
			<p:password id="confirmPass" value="#{configuracao.confirmPassword}"> 
			</p:password>

			<p:growl />
			<p:commandButton id="atualizar" value="atualizar" action="#{configuracao.atualizarSenha}"  
				update="passwordResult">
			</p:commandButton>
	</ui:define>

</ui:composition>