<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/innertemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="content">

		<p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8"
			layout="grid">
			<f:facet name="header">
			CONFIGURAÇÕES
			</f:facet>
			<h:form>
				<p:menu style="font-size:x-large;">
					<p:submenu label="Usuário">
						<p:menuitem value="perfil" outcome="/user/settings" />
						<p:menuitem value="categoria" outcome="/user/categoria" />
					</p:submenu>

					<p:submenu label="Conta">
						<p:menuitem value="Mudar Login" outcome="/user/username" />
						<p:menuitem value="Mudar Senha" outcome="/user/password" />
						<p:menuitem value="Deletar Conta" outcome="/user/delete" />
					</p:submenu>

					<p:submenu label="Notificações">
						<p:menuitem value="SMS" outcome="/user/sms" />
						<p:menuitem value="Email" outcome="/user/email" />
					</p:submenu>
				</p:menu>
			</h:form>

			<!-- center content -->
			<h:form id="form">
				<h:panelGrid columns="2" cellpadding="10" cellspacing="10">
					<ui:insert name="settingsView">
						<p:growl />
						<p style="font-weight: bold; font-size: x-large;">Perfil do
							Usuário</p>
						<p:outputLabel for="profileResult" />
						<p:messages id="profileResult" />

						<p:outputLabel for="firstName" value="Nome:" />
						<p:inputText id="firstName" value="#{configuracao.usuario.firstName}"
							required="true" requiredMessager="Nome obrigatório" />

						<p:outputLabel for="lastName" value="Sobrenome:" />
						<p:inputText id="lastName" value="#{configuracao.usuario.lastName}"
							required="true" requiredMessager="Sobroneme obrigatório" />

						<p:growl />
						<p:commandButton value="Confirmar"
							actionListener="#{configuracao.atualizarProfile}"
							update="profileResult" />
					</ui:insert>
				</h:panelGrid>
			</h:form>

		</p:panelGrid>
	</ui:define>
</ui:composition>
