<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/user/notification.xhtml" xmlns:p="http://primefaces.org/ui">

	<ui:define name="notificationName">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">Notificação via SMS</p>
	</ui:define>

	<ui:define name="notificationType">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">Número do
			Celular</p>
		<p:outputLabel for="phone1" value="número 1:" />
		<p:inputMask id="phone1" mask="(99) 9 9999-9999" value="#{usuarioMB.usuario.numero1}"/>

		<p:outputLabel for="phone2" value="número 2:" />
		<p:inputMask id="phone2" mask="(99) 9 9999-9999" value="#{usuarioMB.usuario.numero2}"/>
	</ui:define>

</ui:composition>