<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="/user/settings.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="settingsView">
		<p:growl />
		<p style="font-weight: bold; font-size: x-large;">Mudar Login</p>
		
		<p:outputLabel for="usernameResult" />
		<p:messages id="usernameResult" />
		
		<p:outputLabel for="newLogin" value="Novo Login:" />
		<p:inputText id="newLogin" value="#{configuracao.novoLogin}"/>

		<p:outputLabel for="confirmPass" value="Confirme sua Senha:" />
		<p:password id="confirmPass" value="#{configuracao.confirmPassword}"/>

		<p:growl />
		<p:commandButton value="Atualizar" action="#{configuracao.atualizarLogin}" update="usernameResult"/>
	</ui:define>

</ui:composition>