<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>NotifyMe</title>

<!-- CSS  -->
 
 <!-- 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
 -->
 
<h:outputStylesheet library="css" name="sweetalert.css" />

<h:outputStylesheet library="css" name="materialize.css" />

<h:outputStylesheet library="css" name="style.css" />

<h:outputStylesheet library="css" name="materialize.min.css" /> 


<link href="resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

 <!-- JS -->
  
<h:outputScript library="js" name="materialize.min.js"/>
<h:outputScript library="js" name="materialize.js"/>
 
<h:outputScript library="js" name="sweetalert.min.js"/>

<h:outputScript library="js" name="init.js"/>
 
</h:head>

<h:body styleClass="lime lighter 5">

<ui:insert name="navbar">

<nav class="light-green lighten-1" role="navigation">
	<ui:insert name="navbar-list">
		<div class="nav-wrapper container"><p:link id="logo-container" outcome="/index" class="brand-logo" value="NotifyME"/>
			<h:form>

			<ul class="right hide-on-med-and-down">
				<li><p:link class="btn" outcome="/login" value="Entrar" /></li>
      </ul>
			</h:form>
			<ui:insert name="nav-mobile">
      	<ul id="nav-mobile" class="side-nav">
      	</ul>
			</ui:insert>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

		</ui:insert>
</nav>
</ui:insert>

<ui:insert name="content">
</ui:insert>

<ui:insert name="footer">
<footer class="page-footer deep-orange">

	<div class="footer-copyright">
		<div class="container">
			<div class="center-align">
					<p:link value="@ 2016 - 2016 Notify-Me"
					class="orange-text text-lighten-3" outcome="/index"/>
				</div>
		</div>
	</div>
</footer>
</ui:insert>



</h:body>
</html>
