<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/innertemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="content">
		<div class="valign-wrapper" id="create-page">
			<div class="container">
				<div class="center-align">
					<div class="row">
						<div class="col s6 offset-s3">
							<div class="card">
								<div class="card-content">
									<div class="left-align">
										<h:form id="create-form">
											<p:growl autoUpdate="true" />
											<div class="row">
												<div class="center-align">

													<h4>Cadastro de Conta</h4>
													<p:separator />
													<p:messages id="result" />
												</div>
												<div class="col s12 input-field">
													<p:outputLabel for="name" value="Nome" />
													<p:inputText id="name" value="#{contaMB.conta.nome}"
														required="true" requiredMessager="Nome obrigatório" />
												</div>

												<div class="col s12 input-field">
													<p:outputLabel for="description" value="Descrição" />
													<p:inputTextarea id="description"
														value="#{contaMB.conta.descricao}" />
												</div>

												<div class="col m5 offset s2">
													<p:outputLabel for="date" value="Data de Vencimento" />
													<p:calendar id="date" value="#{contaMB.conta.vencimento}"
														showOn="focus" required="true" />
												</div>

												<div class="col s4 ">
													<p:outputLabel for="hora" value="Hora Notificacao" />
													<p:inputMask id="hora" value="#{contaMB.horaNotificacao}"
														mask="99:99 h">
														<f:convertDateTime pattern="hh:mm" />
													</p:inputMask>
												</div>

												<div class="col s12">
													<p:outputLabel for="value" value="Valor" />
													<p:inputNumber id="value" value="#{contaMB.conta.valor}"
														symbol="R$ " decimalSeparator="," thousandSeparator="."
														required="true" emptyValue="empty"
														onclick="this.value = 'R$ ';" />
												</div>
												
												<div class="col s12">
													<p:outputLabel for="categoria" value="categoria" />													
												</div>

												<div class="col s12 ">													
													<p:autoComplete id="categoria"
														value="#{contaMB.categoria.nome}"
														completeMethod="#{usuarioMB.categoriasQueContem}" 
													     />
												</div>



												<div class="center-align">
													<div class="col s12 input-field">
														<p:separator />
														<h:commandButton value="cadastrar" update="result"
															class="btn light-blue"
															actionListener="#{contaMB.cadastrar}" />


														<p:confirmDialog widgetVar="cd"
															header="Conta cadastrada com sucesso" severity="info">
															<f:facet name="message">
																<p:outputLabel value="Deseja cadastrar uma nova conta?"
																	style="font-weight:bold;font-size:larger;text-align:center;" />
															</f:facet>
															<p:commandButton value="Sim" update=":create-form"
																onclick="PF('cd').hide()">
																<p:resetInput target="create-form" clearModel="false" />
															</p:commandButton>

															<p:commandButton value="Não"
																actionListener="#{contaMB.listaContas}" action="/home">
																<!--  <p:resetInput target="grid" clearModel="true" />-->
															</p:commandButton>
														</p:confirmDialog>
													</div>
												</div>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
