<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/innertemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="content">

		<h:form>
		<div class="valign-wrapper" id="create-page">
				<div class="container">
					<div class="center-align">
						<div class="row">
							<div class="col s6 offset-s3">
								<div class="card">
									<div class="card-content">
										<div class="left-align">
											<h:form id="create-form">
												<p:growl autoUpdate="true" />
												<div class="row">
													
													<div class="center-align">
														<h4>Cadastro de Conta</h4>
														<p:separator />
														<p:messages id="result" />
													</div>

													<div class="col s12 input-field">
														<p:outputLabel for="name" value="Nome" />
														<p:inputText id="name" value="#{contaMB.contaAuxiliar.nome}" required="true"
															requiredMessager="Nome obrigatório" />
													</div>

													<div class="col s12 input-field">
														<p:outputLabel for="description" value="Descrição" />
														<p:inputTextarea id="description" value="#{contaMB.contaAuxiliar.descricao}" />
													</div>

													<div class="col s8 ">
														<p:outputLabel for="mask" value="Data de Vencimento" />
														<p:calendar id="mask" value="#{contaMB.contaAuxiliar.vencimento}"
	                    showOn="focus" />
													</div>

													<div class="col s12">
														<p:outputLabel for="value" value="Valor" />
														<p:inputNumber id="value" value="#{contaMB.contaAuxiliar.valor}"
															symbol="R$ " decimalSeparator="," thousandSeparator="."
															required="true" emptyValue="empty"/>
													</div>

													<div class="col s12 input-field">
														<p:outputLabel for="image" value="Imagem" />
														<!-- adicionar um filtro para permitir apenas certos tipos de imagens -->
														<p:fileUpload id="image" value="#{contaMB.contaAuxiliar.caminhoImagem}"
															mode="simple" skinSimple="true" allowTypes="/(\.|\/)(jpe?g|png)$/"
															sizeLimit="4096" />
													</div>

													<div class="center-align">
														<div class="col s12 input-field">
																		<p:separator />
																		<p:commandButton value="editar" update="result"
																			action="#{contaMB.editarConta}" />
																			<p:dialog header="Conta Editada Com Sucesso" modal="true" widgetVar="cd" minHeight="40">
																				<div style="text-align:center;" >
																				<p:button id="confirmation" value="Ok" outcome="/home"/>
																				</div>
																			</p:dialog>
																	</div>
															</div>
												</div>
											</h:form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</h:form>
	</ui:define>
</ui:composition>
