<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="form">

		<p:dataGrid id="dataGrid" var="conta" value="#{usuarioMB.contasBuscadas}"
			columns="4" layout="grid" rows="12" paginator="true"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="6,12,16" style="margin-top:20px;">

			<f:facet name="header">
          		Contas
        	</f:facet>

			<div class="valign-wrapper" id="create-page">
				<div class="container">
					<div class="center-align">
						<div class="row">
							<div class="col s12">
								<p:commandLink update=":form:overview-form" oncomplete="PF('overviewDlg').show()" title="Detalhes da Conta">
								<f:setPropertyActionListener value="#{conta}"
								target="#{contaMB.contaAuxiliar}" />
								<div class="card">									
									<div class="card-content light-green lighten-2">
										<div class="left-align">
											<h:form id="create-form">
												<p:growl autoUpdate="true" />
												<div class="center-align">
													<div class="row">

														<p:outputLabel value="#{conta.nome}" />														
														<p:messages id="result" />

														<div class="col s12 ">
															<h:outputText value="#{conta.descricao}" />
															<p:separator />
														</div>

														<div class="col s12 ">
															<h:outputText value="#{conta.vencimento}" >
																<f:convertDateTime  pattern="dd/MM/yyyy"/>
															</h:outputText>
															<p:separator />
														</div>

														<div class="col s12 ">
															<h:outputText value="#{conta.valor}" />
														</div>
													</div>
												</div>
											</h:form>
										</div>
									</div>
								</div>
								</p:commandLink>

							</div>
						</div>
					</div>
				</div>
			</div>

		</p:dataGrid>

		<ui:include src="/account/overview.xhtml" />
		<p:growl id="deleteMsg" life="4000" />

		<p:dialog header="Deletar Conta" modal="false" widgetVar="deleteDlg">
			<p:commandButton value="Sim" oncomplete="PF('deleteDlg').hide()"
				action="/index">
				<f:ajax listener="#{contaMB.deletarConta}" render="deleteMsg" />

			</p:commandButton>
			<p:commandButton value="Não" onclick="PF('deleteDlg').hide()" />
		</p:dialog>
	</h:form>

</ui:component>