<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


	<p:dialog widgetVar="overviewDlg" modal="true" resizable="false"
		showEffect="fade" hideEffect="fade">


		<div class="card">

			<div class="card-title">
				<h3 class="center-align">
					<p:outputLabel value="#{contaMB.contaAuxiliar.nome}" />
				</h3>
			</div>

			<div class="card-content">
				<div class="left-align">
					<h:form id="overview-form">
						<p:growl autoUpdate="true" />
						<div class="center-align">
							<div class="row">

								<div class="col s12 ">
									<h:outputText value="#{contaMB.contaAuxiliar.descricao}" />
								</div>

								<div class="col s12 ">
									<h:outputText value="#{contaMB.contaAuxiliar.vencimento}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</div>

								<div class="col s12 ">
									<h:outputText value="#{contaMB.contaAuxiliar.valor}" />
								</div>
								
								<div class="col s12 ">
									<h:outputText value="#{contaMB.contaAuxiliar.categoria.nome}" />
								</div>
								
								<div class="col s12 ">
									<h:outputText value="#{contaMB.contaAuxiliar.horaNotificacao}" />
								</div>
																
							</div>
						</div>
					</h:form>
				</div>
			</div>

		</div>


	</p:dialog>

</ui:component>