<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/innertemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="content">

		<div class="container">
			<div class="center-align">
				<div class="row">
					<div class="col s6 offset-s3">
						<div class="card">
							<div class="card-content">

								<h:form id="search-form">
									<p:growl autoUpdate="true" />
									<div class="center-align">
										<div class="row">


											<h4>Buscar Conta</h4>
											<p:separator />
											<p:messages id="result" />

											<div class="col s6 offset-s3 input-field ">
												<p:outputLabel for="name" value="Nome" />
												<p:inputText id="name" value="#{contaMB.conta.nome}" />
											</div>

											<div class="col s12">
												<p:outputLabel for="categoria" value="categoria" />
											</div>

											<div class="col s12 ">
												<p:autoComplete id="categoria"
													value="#{contaMB.categoria.nome}"
													completeMethod="#{usuarioMB.categoriasQueContem}" />
											</div>


											<div class="col s6 offset-s3">
												<p:outputLabel for="venc-init" value="Periodo Inicial" />
												<p:calendar id="venc-init" value="#{contaMB.periodoInicial}"
													showOn="focus" />
											</div>

											<div class="col s6 offset-s3">
												<p:outputLabel for="venc-final" value="Periodo Final" />
												<p:calendar id="venc-final" value="#{contaMB.periodoFinal}"
													showOn="focus" />
											</div>
										</div>

										<div class="row">
											<div class="col s12">
												<p:selectBooleanCheckbox id="check1" class="filled-in"
													value="#{contaMB.contaAPaga}" />
												<p:outputLabel for="check1" value=" Conta A Pagar" />
											</div>
										</div>

										<div class="row">
											<div class="col s12">
												<p:selectBooleanCheckbox id="check2" class="filled-in"
													value="#{contaMB.contasVencidas}" />
												<p:outputLabel for="check2" value=" Conta Vencidas" />
											</div>
										</div>


										<div class="row">
											<div class="col s12">
												<h:commandButton value="buscar" class="btn light-blue"
													actionListener="#{contaMB.buscarConta}" action="/home"
													update="@all">

												</h:commandButton>
											</div>
										</div>
									</div>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
