<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/innertemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	
	
	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{usuarioMB.setUsuarioLogado}" />
		</f:metadata>
		<ui:include src="/account/grid.xhtml" />
	</ui:define>
</ui:composition>
