<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml" xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">
		<title>Como Usar</title>
	</ui:define>

	<ui:define name="content">

	<ui:include src="/steps.xhtml"/>

	</ui:define>

</ui:composition>
