<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>NotifyME</title>
	</ui:define>

	<ui:define name="content">
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
	<br/><br/><br/><br/><br/><br/>
	<h1 class="header center light-blue-text">Sistema de Gerenciamento de Contas</h1>
	<br/><br/>

	<div class="row center">
		<h5 class="header col s12 light">Um sistema moderno para controlar suas contas</h5>
	</div>
	<br/><br/>
	<div class="row center">
		<p:link outcome="/login" class="btn-large waves-effect waves-light light-blue" value="Comece Agora"/>
	</div>

	<br/><br/>

	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m12">
					<div class="icon-block">
						<br/><br/>
						<h3 class="center light-blue-text">Notificações por Email</h3>
						<br/>
						<div class="center-align">
						<h5 class="light ">Até 3 emails podem ser cadastrados. Isto é, até 3 pessoas podem ser notificadas</h5>
					</div>
						<br/><br/>
						<h3 class="center light-blue-text">Forma de Notificações</h3>
						<br/>
						<div class="center-align">
							<ul>
								<li><h5 class="light">Antes do dia do Vencimento</h5></li>
								<li><h5 class="light">No dia do vencimento</h5></li>
								<li><h5 class="light">Depois do dia do Vencimento</h5></li>
							</ul>
						</div>
					</div>
				</div>

		</div>
		<br/><br/>
	</div>
</div>
</div>
</div>

	</ui:define>

</ui:composition>
