<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml" xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">
		<title>Login</title>
	</ui:define>

	<ui:define name="content">
	
		<div class="valign-wrapper" id="login-page">
			<div class="container">
				<div class="center-align">
					<div class="row">
						<div class="col s6 offset-s3">
							<div class="card">
								<div class="card-content">
									<div class="left-align">
										<h:form id="login-form">
											<p:growl autoUpdate="true" />
											<div class="row">
												<h4>Realize Login</h4>
												<div class="col s4 input-field">
													<p:inputText id="name" placeholder="Username"
														value="#{loginMB.login}" class="active validate"
														required="true" />
													<p:outputLabel for="name" value="Login" />
												</div>
												<div class="col s4 input-field">
													<p:password id="password"
														value="#{loginMB.senha}" placeholder="Password"
														class="validate" required="true" />
													<p:outputLabel for="password" value="Password" />
												</div>
												<div class="center-align">
													<div class="col s4 input-field">
														<h:commandLink action="#{loginMB.logar}" value="Login"
															class="btn light-blue">
															</h:commandLink>
													</div>
												</div>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>

						<div class="col s6 offset-s3">
							<div class="card">
								<div class="card-content">
									<div class="left-align">
										
											<p:growl autoUpdate="true" />
											<div class="row">
												<h4>Ainda Não é Cadastrado?</h4>
												<div class="center-align">

													<h:form id="google-form">
														<div class="col s12 input-field">
															<h:commandButton actionListener="#{loginMB.loginFacebook}"
																value="Entrar com Conta Facebook"
																styleClass="btn light-blue" />
															<br />
															<h4>ou</h4>
														</div>
													</h:form>
												</div>
												
												<h:form id="signup-form">
												<div class="col s12 input-field">
													<p:inputText id="nome" placeholder="Nome"
														value="#{loginMB.usuario.firstName}"
														class="active validate" required="true" />
													<p:outputLabel for="nome" value="Nome" />
												</div>

												<div class="col s12 input-field">
													<p:inputText id="sobrenome" placeholder="Sobrenome"
														value="#{loginMB.usuario.lastName}"
														class="active validate" required="true" />
													<p:outputLabel for="sobrenome" value="Sobrenome" />
												</div>

												<div class="col s12 input-field">
													<p:inputText id="email" required="true" label="email"
														size="40"
														requiredMessage="Please enter your email address."
														validatorMessage="Invalid email format"
														value="#{loginMB.usuario.email1}">

														<f:validateRegex
															pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

													</p:inputText>													
													<p:watermark for="email" value="email" />
												</div>

												<div class="col s12 input-field">
													<p:inputText id="name" placeholder="Username"
														value="#{loginMB.usuario.login}" class="active validate"
														required="true" />
													<p:outputLabel for="name" value="Login" />
												</div>
												<div class="col s12 input-field">
													<p:password id="password"
														value="#{loginMB.usuario.senha}" placeholder="Password"
														class="validate" required="true" />
													<p:outputLabel for="password" value="Password" />
												</div>
												<div class="center-align">
													<div class="col s12 input-field">
														<h:commandLink action="#{loginMB.signup}"
															value="Cadastrar" styleClass="btn light-blue" />
													</div>
													
												</div>
												</h:form>
											</div>
										
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</ui:define>


</ui:composition>
