<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
	<ul class="left hide-on-med-and-down">
		<li><h:commandLink value="Notify-Me" actionListener="#{contaMB.listaContas()}"
			action="/home" update="@all"/></li>
		<li><h:link class="btn" value="Nova Conta" icon="fa fa-pencil"
			outcome="/account/create" /></li>
		<li><h:link class="btn" value="Buscar Conta" outcome="/account/search" /></li>
	</ul>

	<ul class="right hide-on-med-and-down">
		<li>
			<p:link class="btn" value="Configurações" icon="fa fa-cog" outcome="/user/settings"/>
		</li>
		<li>
			<p:commandLink class="btn" value="sair" action="#{usuarioMB.sair}"
				 />
		</li>
		</ul>
	</h:form>


</ui:component>
