<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml" xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">
		<title>Signup</title>
	</ui:define>

	<ui:define name="content">
		<h:form>

			<p:panel header="Cadastre-se" style="margin-bottom:10px;">
				<p:messages />
				<h:panelGrid columns="2" cellpadding="5">
					<p:outputLabel value="Login:" />
					<p:inputText value="#{usuarioMB.usuario.login}" required="true" />

					<p:outputLabel value="Senha:" />
					<p:password value="#{usuarioMB.usuario.senha}" required="true" />

					<h:commandButton action="#{usuarioMB.signup}" value="Login" />
				</h:panelGrid>
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>
