<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:steps>
		<p:menuitem value="Cadastrar Conta" />
		<p:menuitem value="Buscar Conta" />
		<p:menuitem value="Deletar Conta" />
		<p:menuitem value="Editar Contar" />
		<p:menuitem value="Notificações"/>
	</p:steps>


</ui:component>

